<div
  id="carouselExampleSlidesOnly"
  class="carousel slide w-60"
  data-bs-ride="carousel"
  style="display: flex; margin-left: auto; margin-right: auto; max-width: 60vw"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="img/slider/1.jpg"
        class="d-block w-60"
        style="max-width: 60vw"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="img/slider/2.jpg"
        class="d-block w-60"
        style="max-width: 60vw"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="/img/slider/3.jpg"
        class="d-block w-60"
        style="max-width: 60vw"
        alt="..."
      />
    </div>
  </div>
</div>
<div
  style="
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 80vw;
    min-width: 300px;
    flex-wrap: wrap;
    justify-content: space-around;
  "
  class="cardsContainer"
></div>
