<!DOCTYPE html>
<html lang="es">
  <%- include('components/head'); %>
  <body>
    <%- include('components/header'); %>
    <script src="card.js"></script>
    <!-- Esta parte renderizar치 el componente del Quiz, pero en la versi칩n final validar치 si el usuario ya la llen칩 -->
    <%- include('components/preferences-quiz'); %>
  </body>
</html>
