<!DOCTYPE html>
<html lang="es">
  <%- include('components/head'); %>
  <body>
    <%- include('components/header'); %> <%- include('components/showcase'); %>
    <main style="display: flex; flex-wrap: wrap; justify-content: space-around;"></main>
    <script type="module" src="/showcase.js"></script>
  </body>
</html>
