<header>
  <nav class="navbar navbar-expand-lg navbar-light container">
    <a class="navbar-brand" href="/"><h3>Toltekatl</h3></a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapseElem"
      aria-controls="navbarCollapseElem"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapseElem">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
        <li class="nav-item">
          <a class="nav-link" href="store/products">Productos</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="store/account">Cuenta</a></li>
        <li class="nav-item"><a class="nav-link" href="store/cart">Carrito</a></li>
      </ul>
    </div>
  </nav>
</header>
